.container {
    margin-top: 3rem;
}

.about-h2 { 
    background: -webkit-linear-gradient(30deg, #12c2e9, #c471ed, #f64f59, rgb(199, 219, 14));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.036rem;
    margin-bottom: 0;
    width: 9.5rem;
}

.about-p {
    color: whitesmoke;
    letter-spacing: 0.04rem;
    margin-top: 0.5rem;
    
}

.resource {
    background: -webkit-linear-gradient(30deg, #12c2e9, #c471ed, #f64f59, rgb(199, 219, 14));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}