.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(245, 245, 245);
    margin: 15px 15px 0 15px;
}

.fa-bars {
    font-size: 1.5em;
}

nav h3 {
    margin: 0;
    font-size: 1.3em;
}

input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.bar {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
}

.bar span {
    position: absolute;
    width: 22.5px;
    height: 3.5px;
    background: #f1faee;
    border-radius: 50px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 8.5px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 24px;
    left: 3px;
}

input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 24px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
}
