.projects {
    margin: 30px 20px 0 20px;
}

.projects-h2 {
    background: -webkit-linear-gradient(30deg, #12c2e9, #c471ed, #f64f59, rgb(199, 219, 14));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.05;
    margin-bottom: 0;
}